body{
    margin: 0px;
    padding: 0px;

}
#navbar{

    display: flex;
    justify-content: center;
    background-color: aqua;
    margin:0px;
    padding-top: 20px;
    padding-bottom: 10px;
   
    
}

#navbar li a{
    text-decoration:none ;
    margin: 13px ;

}
#navbar li a img{
    width: 90px;
    margin-right:150px ;

}
#download{
    background-color: blue;
    margin-left: 150px;
    padding-top: 10px;
    border-radius: 10px;
    
    
}
#download a {
    color:white
}

/*=========hero section=======*/
.hero{
    display:flex;
    justify-content: center;
}
.hero div img{
    width: 450px;
}
.hero1{
    font-size: 40px;
}
.hero2{
    font-size: 60px;
}
.hero3{
    font-size: 20px;
}
.hero4 span{
    background-color: blue;
    padding: 10px 20px 10px 20px;
    border:red ;
    color:white;
    border-radius: 10px;
    
}
.herodiv1{
    margin: 100px;
    margin-right: 200px;
}
.hero{
    padding-top: 60px;
    background-image: url('https://itemsstore.net/html/trito/img/hero/1.jpg')

   

}
